<section id="header" class="site header">
    <div class="header wrap"><span class="header left-side"><a class="site home" href="{{- `/` | relLangURL -}}">
                {{- $logo := site.Params.logo -}}
                {{- if $logo -}}
                <img class="site logo" src="{{- $logo | relURL -}}" alt="website logo" width="42px" height="42px" />
                {{- end -}}
                <span class="site name">{{- site.Title | safeHTML -}}</span></a></span>
        <span class="header right-side">
            {{- partial "navigation-items.html" site.Params.nav -}}
        </span></div>
    {{- with site.Params.slogan -}}
        <div class="site slogan wrap">
            <span class="title left-side">{{- . | emojify | safeHTML -}}</span>
            <span class="right-side">
                {{- partial "social-header.html" -}}
            </span>
        </div>
    {{- else -}}
    {{- partial "social-header.html" -}}
    {{- end -}}
</section>